{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 col-md-6">
            <img src="{{ asset('uploads/recettes/' ~ recette.image) }}" width="100%">
        </div>
        <div class="col-12 col-md-6">
            <h2 class="mb-5">{{ recette.name }}</h2>

            <div class="row">

            </div>
            <p><i>{{ recette.teaser }}</i></p>
            <p>{{ recette.body }}</p>

            <p>Ingredients</p>
            <ul>
                {% for ing in recette.ingredients %}
                    <li>{{ ing.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

<div class="row">
    <div class="col-6">
        <a class="btn btn-primary" href="{{ path('recette_index') }}">Retour à la liste</a>
    </div>
    <div class="col-6">
        <a href="{{ path('recette_edit', {'id': recette.id}) }}">Modifier</a>
    </div>
</div>


{% endblock %}
